body  {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRSVBfFyizaa3n7S1ImDRBWeK8uJD78THjo7TLfi-ofKONUvxAd");
   /* background-color: brown;*/
}


.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
 }

 /*This is the h2 tag*/
#collector {
 width: 308px;
 height: 97px;
 color: white;
 padding-bottom: 120px;
 text-align: center;
 margin-bottom: 39px;
 margin-top: 7px;
 padding: 11px;

}

/* Holds all Paragragh elements*/
.container1 {
	width: 548px;
	height: 343px;
	background-color: #F5DEB3;
	margin-left: -198px;
	display: inline-block;
}

/*	Collections is assign to the header*/
 #collections {
 	width: 312px;
 	height: 50px;
 	padding-bottom: 57px;
 	background-color: #CD853F;
 	margin-left: -197px;
 }

	/*This  the Paragragh tags*/
 .info {
 	color: green;
 	font-size: 15px;
 	font-weight: bold;
 	margin-left: 28px;
 	margin-right: -80px;
 }

	/*Shows the score needed to achieve*/
	#boxscore {
		width: 226px;
		height: 125px;
		background-color: lightgreen;
		margin-left: -202px;
		text-align: center;
		font-weight: bolder;
		font-size: 26px;
		margin-top: 0px;
	}

	
.crystals {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  margin-top: -59px;
  margin-left: -243px;

}

.crystal {
  border: 1px solid green;
  height: 50px;
  width: 50px;
  border-radius: 8px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.5);
  transition: box-shadow 2s;

}

#result {
  color: white;
  margin-left: -165px;
  font-size: 22px;
  display: block;
}

#show {
	margin-top: -161px;
	margin-left: 200px;
	font-size: 20px;
}

#win,#loses {
	color: white;
}

img {
  width: 300px;
  height: 300px;
}

      /*Shows the players total score*/
  .score {
  	width: 210px;
  	height: 31px;
  	margin-left: -452px;
  	background-color: green;
  	display: inline-block;
  	color: white;
  	margin-top: 49px;
  }
	/*This is the actual score*/
	/*.actualscore {
		width: 210px;
		height: 125px;
		background-color: green;
		margin-left: -448px;
		margin-top: -25px;
	}*/
