body  {
    background-image: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/HHDM9k1Q-j3x8jx1u/videoblocks-time-travel-motion-background_ry1liyuvz_thumbnail-small01.jpg");
    /*background-color: #F5DEB3;*/
}


.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
 }

/* Holds all Paragragh elements*/
.container1 {
	width: 548px;
	height: 343px;
	background-color: #F5DEB3;
	margin-left: -198px;
	display: inline-block;
}

	/*This is the h2 tag*/
 #collector {
 	width: 308px;
 	height: 97px;
 	color: white;
 	padding-bottom: 120px;
 	text-align: center;
 	margin-bottom: 39px;
 	margin-top: 7px;
 	padding: 11px;

 }

/*	Crystal is assign to the header*/
 #crystal {
 	width: 312px;
 	height: 50px;
 	padding-bottom: 57px;
 	background-color: #CD853F;
 	margin-left: -197px;
 }

	/*This  the Paragragh tags*/
 .info {
 	color: green;
 	font-size: 15px;
 	font-weight: bold;
 	margin-left: 28px;
 	margin-right: -80px;
 }

	/*Shows the score needed to achieve*/
	#boxscore {
		width: 226px;
		height: 125px;
		background-color: lightgreen;
		margin-left: -202px;
	}	

	#p {
		width: 20px;
		height: 20px;
		margin-top: 10px;
		margin-left: 10px;
	}
	

	/*Shows wins and loses*/
	#catagory, #catagory1 {
		width: 100px;
		height: 61px;
		background-color: lightblue;
		margin-left: -213px;
		margin-top: -35px;
		font-weight: bold;
		text-align: center;
	}

	#catagory1 {
    margin-top: -12px
	}

	/*These are the images*/ 
	img {
		width: 85px;
	}
	#crystalImage1 {
		height: 25px;
		margin-left: -204px;
		display: block;
		margin-top: -40px;
	}
	
	#crystalImage2 {
		height: 25px;
		margin-left: -96px;
		display: block;
		margin-top: -40px;
	}

	#crystalImage3 {
		height: 25px;
		margin-left: 11px;
		display: block;
		margin-top: -22px;
	}

	#crystalImage4 {
		height: 25px;
		margin-left: 120px;
		display: block;
		margin-top: -25px;
	}
      /*Shows the players total score*/
  .score {
  	width: 210px;
  	height: 31px;
  	margin-left: -218px;
  	background-color: green;
  	display: inline-block;
  	color: white;
  	margin-top: 49px;
  }
	/*This is the actual score*/
	.actualscore {
		width: 210px;
		height: 125px;
		background-color: green;
		margin-left: -220px;
	}

	
